/** New Login Styles for Orchestrator **/

/** Layout **/

.loginBody 
{
	background-color: black;
	background-position: top center;
	background-repeat: no-repeat;
	font-family: Verdana;
	font-size: 11px;
	color: black;	
}

#loginContainer 
{
	margin: 0px auto;
	padding: 35px 0 0 0;
	width: 375px;
	text-align: left;
}

.loginLogoContainer
{
	height: 65px;	
}

.loginCompanyLogo
{
   	background-image: url('img/Login/company-logo.png');
	background-position: center ;
	background-repeat: no-repeat;
	display: block;
    height: 65px;	
}

.loginOrganisationNameContainer
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.loginInformationTextContainer
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.loginInformationTextContainer > p.loginInformationText, .loginInformationTextContainer > p.loginInformationText a
{
    margin-right: 0;
    text-align: center;
    font-size: 16px !important;
    color: #CCCFD1;
}

.loginLogo 
{
	background-image: url('img/Login/he-logo.png');
	background-position: top left;
	background-repeat: no-repeat;
	display: block;
	height: 175px;		
}

.loginBoxOuter 
{
	padding: 0px;
	margin: 0px;
}

.loginBoxTop 
{
	background-position: top center;
	background-repeat: no-repeat;
	height: 15px;
}

.loginBoxMiddle 
{
	background-position: center center;
	background-repeat: repeat-y;
	padding: 0 15px 0 15px;
}

.loginBoxBottom 
{
	background-position: top center;
	background-repeat: no-repeat;
	height: 10px;	
}

.loginFooter 
{
	margin-top: 7px;
	color: #CCCFD1;
	text-align: center;
	font-size: 14px;
}

/** Content **/

.loginBoxMiddle h1 
{
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 3px 0;
	padding: 0 0 3px 19px;
	color: #404143;
	border-bottom: 1px dotted #CCC;
	background-image: url('img/Login/icon-login.png');
	background-repeat: no-repeat;
	background-position: left 3px;
}

.loginBoxMiddle em 
{
	background-color: #fff19f;
	font-style: normal; 	
}

.loginBoxMiddle p 
{
	margin-top: 0px;
	margin-bottom: 5px;
}

.loginBoxMiddle p label 
{
    color: #CCCFD1;
    font-size: 16px;
    text-align: left;
    margin-right: 60px;
}

.loginBoxMiddle span
{
	font-family: Verdana;
	font-size: 11px;	
}

/** Login Fields **/

.loginCredentials .fieldLabel 
{
	color:#CCCFD1;
	padding:7px 7px 7px 15px;
	text-align:right;
	vertical-align: top;
	font-size: 16px;
	width: 100px;
}

.loginCredentials .fieldInput 
{
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 200px;	
}

.loginCredentials .fieldInput input
{
	color:#000;
	font-size: 16px;
	padding: 4px;
	margin: 0px;
	vertical-align: middle;
	border:1px solid #b0b0b0;
	width: 180px;		
}

.loginCredentials .fieldInput input:hover 
{
	border: 1px solid #6e9bbf;	
}

/** Validation boxes **/

#loginValidationBoxes 
{
	width: 345px;
	overflow: hidden; 	
}

.loginBoxMiddle #rfvOldPwd, .loginBoxMiddle #rfvNewPwd, .loginBoxMiddle #lblMessage,
.loginBoxMiddle #rfvConfirmPwd, .loginBoxMiddle #rfvCompareNewPwds, .loginBoxMiddle #rfvComplexPwd,
.loginBoxMiddle #rfvValidationSummary
{
	color: #666E77; 
	padding: 10px 10px 10px 40px;
	margin-top: 10px;
	background-image: url('img/Login/icon-warning.png');
	background-repeat: no-repeat;
	background-position: 15px 10px;
	display: block;
}

.loginBoxMiddle #lblMessage {
    color: #CCCFD1;
    font-size: 14px;
}

#loginValidationBoxes #rfvUserName, .loginBoxMiddle #rfvPIN 
{
	background-image: none;	
}

#loginValidationBoxes #rfvUserName div, .loginBoxMiddle #rfvPIN div
{
	color: #d11111; 
	padding: 10px 10px 10px 40px;
	margin-top: 10px;
	background-image: url('img/Login/icon-warning.png');
	background-repeat: no-repeat;
	background-position: 15px 10px;
	display: block;
}

.loginBoxMiddle #rfvValidationSummary ul
{
	list-style-type: none;
	margin: 0;
	width: 90%;
}

.loginBoxMiddle #rfvValidationSummary li 
{
	margin-bottom: 5px;	
}

.loginBoxMiddle p 
{
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 26px;
    color: #CCCFD1;
    font-size: 11px;
    text-align: right;
    top: -2px;
}

/** Button bar **/

.loginButtonBarContainer 
{
    float: right;
    margin-right: 11px;
}

.loginButtonBar
{
	padding: 10px;
	margin-top: 10px;
}

.loginButtonBar .fieldInput 
{
	font-size: 11px;	
}

.loginButtonBar .buttonclass 
{
	border: 1px solid #666E77;	
	color: white;
	padding: 8px 12px;
	background-image: url('img/MasterPage/button-bg.jpg');
	background-color: #666E77;
	background-position: top;
	background-repeat: repeat-x;
	font-size: 16px;
}

/** Footer **/

.loginFooter a, .loginFooter a:link, .loginFooter a:visited  {
	border-bottom: 1px solid #CCCFD1;
	color:#CCCFD1;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.loginFooter a:hover {
	border-bottom: 1px solid #FFF;
	color: #FFF;
}
