.RadTabStrip_Orchestrator 
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding: 0 0 0 3px; 	
}

.RadTabStrip_Orchestrator .rtsLevel	
{
	padding: 0px;
	background-image: url('Img/MasterPage/1px-tab-border.gif');
	background-position: bottom;
	background-repeat: repeat-x;
	padding: 0 0 0 3px; 	 	
}

.RadTabStrip_Orchestrator a,
.RadTabStrip_Orchestrator a:active,
.RadTabStrip_Orchestrator a:visited
{
	text-decoration: none;
}

/** Off Style **/

.RadTabStrip_Orchestrator .rtsLink .rtsOut 
{
	border-top: 1px solid #CCC;
	border-right: 0px solid #CCC;
	//border-bottom: 1px solid #777;
	border-left: 1px solid #CCC;
	background-color: #f1f3f5;
	padding: 5px 8px 5px 8px;
	margin: 4px 0 0 0;
}

.RadTabStrip_Orchestrator .rtsLink .rtsTxt 
{
	color: #456286;
	line-height: 12px;	
}

/** On Style **/

.RadTabStrip_Orchestrator .rtsSelected .rtsOut 
{
	border-top: 1px solid #777;
	border-right: 1px solid #777;
	border-bottom: 0px solid #4d4d4d;
	border-left: 1px solid #777;
	background-color: #FFF;
	padding: 7px 8px 7px 8px;
	margin: 1px 0 0 0;
}

.RadTabStrip_Orchestrator .rtsSelected .rtsTxt 
{
	color: #2d4768;
	line-height: 12px;
}

/** Ends **/

.RadTabStrip_Orchestrator .rtsLast .rtsSelected .rtsOut 
{
	border-right: 1px solid #777;
}

.RadTabStrip_Orchestrator .rtsLast .rtsOut 
{
	border-right: 1px solid #CCC;
}

.RadTabStrip_Orchestrator .rtsAfter .rtsOut 
{
	border-left: 0px solid #CCC;
}

.RadTabStrip .rtsLink, 
.RadTabStripVertical .rtsLink  
{
    padding-left: 0px !important;    
}

.RadTabStrip .rtsLink .rtsIn,
.RadTabStrip .rtsLink .rtsTxt
{
    padding: 0px !important;    
}