/**.panelbarHeaderCollapsed
{ 		
	FONT-SIZE: 11px; 
	COLOR: #10110F;
	border-top: solid 1px #608058;
	FONT-FAMILY: Arial,Verdana;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	background-image: url(../Img/CollapsedBg.gif);
	height: 32px;
	padding-left: 7px;
}

.panelbarHeaderHover 
{ 		
	FONT-SIZE: 11px; 
	COLOR: #10110F;
	border-top: solid 1px #608058;
	FONT-FAMILY: Arial,Verdana;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	background-image: url(../Img/HoverBg.gif);
	height: 32px;
	padding-left: 7px;
}

.panelbarHeaderExpand
{
	FONT-SIZE: 11px; 
	COLOR: #10110F;
	border-top: solid 1px #608058;
	FONT-FAMILY: Arial,Verdana;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	background-image: url(../Img/ExpandBg.gif);
	height: 32px;
	padding-left: 7px;
}

.panelbarText
{
	padding-left: 7px;
}

.panelbarItem 
{
	FONT-SIZE: 11px; 
	COLOR: #333333;
	FONT-FAMILY: Arial,Verdana;
	width: 100%;
	cursor: hand;
	cursor: pointer;
	text-decoration: none;
	padding-left: 7px;
	height: 24px;
}	

.panelbarItemHover
{
	FONT-SIZE: 11px; 
	COLOR: #000;
	FONT-FAMILY: Arial,Verdana;
	width: 100%;
	cursor: hand;
	cursor: pointer;
	text-decoration: underline;
	padding-left: 7px;
	height: 26px;
}

.panelbar 
{
	border-top: 1px solid #608058;
	border-left: 1px solid #608058;
	border-right: 1px solid #608058;
	border-bottom: 1px solid #608058;
	color:White;
	background-color:White;*/
/*	background-image: url(../Img/itemsBg.gif);*//*
}

.panelbarHeaderCollapsed1
{ 		
	FONT-SIZE: 11px; 
	COLOR: #eeddcc;
	border-top: solid 1px #608058;
	FONT-FAMILY: Arial,Verdana;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	height: 32px;
	padding-left: 7px;
}**/