a.helpLink {
	cursor:				help;
}

a.helpLink:hover {
	border-bottom:		1px dashed Red;
}

.help-tooltip {
	position:	absolute;
	width:		250px;
	border:		1px Solid WindowFrame;
	background:	Infobackground;
	color:		InfoText;
	font:		StatusBar;
	font:		Status-Bar;
	padding:	3px;
	filter:		progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=3);
	z-index:	10000;
}




span.helpLink {
	cursor:				help;
}


.help-tooltip {
	position:	absolute;
	width:		250px;
	border:		1px Solid WindowFrame;
	background:	Infobackground;
	color:		InfoText;
	font:		StatusBar;
	font:		Status-Bar;
	padding:	3px;
	filter:		progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=3);
	z-index:	10000;
}


.help-tooltip span,
.help-tooltip span:hover {
	color:		blue !important;
	background:	none;
}