<?xml version="1.0" encoding="utf-8"?>
<Orchestrator.WebUI.Properties.Settings>
  <setting name="WebUI_InterFax_InterFax" serializeAs="String">
    <value>http://ws.interfax.net/dfs.asmx</value>
  </setting>
  <setting name="WebUI_PostCodeAnywhere_LookupUK" serializeAs="String">
    <value>http://services.postcodeanywhere.co.uk/uk/lookup.asmx</value>
  </setting>
  <setting name="WebUI_textanywhere_ws_TextAnywhere_SMS" serializeAs="String">
    <value>http://ws.textanywhere.net/ta_sms.asmx</value>
  </setting>
  <setting name="WebUI_Alerts_Email" serializeAs="String">
    <value>http://localhost:4016/Email.asmx</value>
  </setting>
  <setting name="WebUI_Mapping_Service1" serializeAs="String">
    <value>http://mapping.orchestrator.co.uk/Position.asmx</value>
  </setting>
  <setting name="UseOldClientPortal" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="HereMapsApplicationCode" serializeAs="String">
    <value>JpK4aIcgRI4b6hkgCWJBiQ</value>
  </setting>
  <setting name="HereMapsApplicationId" serializeAs="String">
    <value>j8Wgmhi8ntrfHwEgHiFC</value>
  </setting>
  <setting name="HereMapsJSCoreUrl" serializeAs="String">
    <value>http://js.api.here.com/v3/3.0/mapsjs-core.js</value>
  </setting>
  <setting name="HereMapsJSServiceUrl" serializeAs="String">
    <value>http://js.api.here.com/v3/3.0/mapsjs-service.js</value>
  </setting>
  <setting name="HereMapsJSMapEventsUrl" serializeAs="String">
    <value>http://js.api.here.com/v3/3.0/mapsjs-mapevents.js</value>
  </setting>
  <setting name="HereMapsJSUIUrl" serializeAs="String">
    <value>http://js.api.here.com/v3/3.0/mapsjs-ui.js</value>
  </setting>
  <setting name="HereMapsJSUICSSUrl" serializeAs="String">
    <value>http://js.api.here.com/v3/3.0/mapsjs-ui.css</value>
  </setting>
  <setting name="HereMapsJSClusteringUrl" serializeAs="String">
    <value>http://js.api.here.com/v3/3.0/mapsjs-clustering.js</value>
  </setting>
</Orchestrator.WebUI.Properties.Settings>
