<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="Orchestrator" connectionString="Data Source=WELCOME-PC; user id=sa; password=admin; initial catalog=Orchestrator.next; Async=true; MultipleActiveResultSets=true; Application Name=Orchestrator.WebUI;" providerName="System.Data.SqlClient" />
  <add name="DataContext" connectionString="metadata=res://Orchestrator.EF/Orchestrator.csdl|res://Orchestrator.EF/Orchestrator.ssdl|res://Orchestrator.EF/Orchestrator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WELCOME-PC;initial catalog=Orchestrator.next; user id=sa; password=admin; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  
  <!-- Proteo SQL 2012-->
  <add name="Orchestrator" connectionString="Data Source=proteo-sql.p1tp.com; user id=orchestrator.dev; password=P1tpd3v3l0pm3nt; initial catalog=Orchestrator.next; Async=true; MultipleActiveResultSets=true; Application Name=Orchestrator.WebUI;" providerName="System.Data.SqlClient" />
  <add name="DataContext" connectionString="metadata=res://Orchestrator.EF/Orchestrator.csdl|res://Orchestrator.EF/Orchestrator.ssdl|res://Orchestrator.EF/Orchestrator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=proteo-sql.p1tp.com;initial catalog=Orchestrator.next; user id=orchestrator.dev; password=P1tpd3v3l0pm3nt; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

 <!-- Chiltern Test-->
 <!--<add name="Orchestrator" connectionString="Data Source=52.30.2.172; user id=Orchestrator; password=dino246gt; initial catalog=HaulierEnterprise.Test; Connection Timeout=120; Async=true; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
 <add name="DataContext" connectionString="metadata=res://Orchestrator.EF/Orchestrator.csdl|res://Orchestrator.EF/Orchestrator.ssdl|res://Orchestrator.EF/Orchestrator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=52.30.2.172; Initial catalog=HaulierEnterprise.Test; Connection Timeout=120; user id=Orchestrator; password=dino246gt; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

  <!-- F and W Training-->
  <!--<add name="Orchestrator" connectionString="Data Source=test.fandw.proteoenterprise.co.uk; user id=orchestrator; password=dino246gt; initial catalog=Orchestrator.fandw.training; Async=true; MultipleActiveResultSets=true; Application Name=Orchestrator.WebAPI;" providerName="System.Data.SqlClient" />
  <add name="DataContext" connectionString="metadata=res://Orchestrator.EF/Orchestrator.csdl|res://Orchestrator.EF/Orchestrator.ssdl|res://Orchestrator.EF/Orchestrator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=test.fandw.proteoenterprise.co.uk; user id=orchestrator; password=dino246gt; initial catalog=Orchestrator.fandw.training; MultipleActiveResultSets=True; Application Name=Orchestrator.WebAPI&quot;" providerName="System.Data.EntityClient" />-->

  <!-- F and W Live-->
  <!--<add name="Orchestrator" connectionString="Data Source=86.53.143.114; user id=orchestrator; password=dino246gt; initial catalog=Orchestrator.fandw.live; Async=true; MultipleActiveResultSets=true; Application Name=Orchestrator.WebUI;" providerName="System.Data.SqlClient" />
  <add name="DataContext" connectionString="metadata=res://Orchestrator.EF/Orchestrator.csdl|res://Orchestrator.EF/Orchestrator.ssdl|res://Orchestrator.EF/Orchestrator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=86.53.143.114; user id=orchestrator; password=dino246gt; initial catalog=Orchestrator.fandw.live; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

  <!-- J R Live-->
  <!--<add name="Orchestrator" connectionString="Data Source=54.228.235.76; user id=orchestrator; password=dino246gt; initial catalog=Orchestrator.jr.live; Async=true; MultipleActiveResultSets=true; Application Name=Orchestrator.WebUI;" providerName="System.Data.SqlClient" /> 
  <add name="DataContext" connectionString="metadata=res://Orchestrator.EF/Orchestrator.csdl|res://Orchestrator.EF/Orchestrator.ssdl|res://Orchestrator.EF/Orchestrator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=54.228.235.76; user id=orchestrator; password=dino246gt; initial catalog=Orchestrator.jr.live; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

  <!-- J R Test-->
  <!--<add name="Orchestrator" connectionString="Data Source=54.217.255.36; user id=orchestrator; password=dino246gt; initial catalog=Orchestrator.jr.test; Async=true; MultipleActiveResultSets=true; Application Name=Orchestrator.WebUI;" providerName="System.Data.SqlClient" />
  <add name="DataContext" connectionString="metadata=res://Orchestrator.EF/Orchestrator.csdl|res://Orchestrator.EF/Orchestrator.ssdl|res://Orchestrator.EF/Orchestrator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=54.217.255.36; user id=orchestrator; password=dino246gt; initial catalog=Orchestrator.jr.test; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

  <!-- Firmin Live-->
  <!--<add name="Orchestrator" connectionString="Data Source=79.125.27.155; user id=orch; password=dino246gt; initial catalog=Orchestrator.firmin.live; Async=true; MultipleActiveResultSets=true; Application Name=Orchestrator.WebUI;" providerName="System.Data.SqlClient" />
  <add name="DataContext" connectionString="metadata=res://Orchestrator.EF/Orchestrator.csdl|res://Orchestrator.EF/Orchestrator.ssdl|res://Orchestrator.EF/Orchestrator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=79.125.27.155; user id=orch; password=dino246gt; initial catalog=Orchestrator.firmin.live; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

  <!-- Firmin Test-->
  <!--<add name="Orchestrator" connectionString="Data Source=54.75.226.250; user id=orch; password=dino246gt; initial catalog=test.firmin.proteoenterprise; Async=true; MultipleActiveResultSets=true; Application Name=Orchestrator.WebUI;" providerName="System.Data.SqlClient" />
  <add name="DataContext" connectionString="metadata=res://Orchestrator.EF/Orchestrator.csdl|res://Orchestrator.EF/Orchestrator.ssdl|res://Orchestrator.EF/Orchestrator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=54.75.226.250; user id=orch; password=dino246gt; initial catalog=test.firmin.proteoenterprise; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

  <add name="ConnStr" connectionString="Max Pool Size=500;Persist Security Info=False;User ID=sa;Password=f133tw00d;Initial Catalog=Galileo;Data Source=db02.bs.proteoenterprise.co.uk;Application Name=PE Web" />
  <add name="ConnStrArchive" connectionString="Max Pool Size=500;Persist Security Info=False;User ID=sa;Password=f133tw00d;Initial Catalog=GalileoArchive;Data Source=db02.bs.proteoenterprise.co.uk;Connection Timeout=240;Application Name=PE Web" />
  <add name="WebLogStats" connectionString="Data Source=p1-sql2008.p1tp.com; user id=orchestrator.dev; password=P1tpd3v3l0pm3nt; initial catalog=WebLogStats;Async=true;" providerName="System.Data.SqlClient" />
</connectionStrings>
