<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="aspnet:MaxHttpCollectionKeys" value="3000" />
  <add key="aspnet:MaxJsonDeserializerMembers" value="3000" />

  <!-- Company Information-->
  <add key="CompanyName" value="New Road - Wimblington" />
  <!-- Stores the first address to display on reports (used on invoice reports as Head Office:) -->
  <add key="Address1.Line1" value="March - Cambridgeshire - PE15 0RG" />
  <add key="Address1.Line2" value="t: 01354 740233 - f: 01354 741333" />
  <add key="Address1.Line3" value="sales@knowles-transport.co.uk" />
  <add key="CompanyLogoImageName" value="companyLogoNICHOLLS.png" />
  <!-- Stores the second address to display on reports (used on invoice reports as Also At: and on Load Release Form) -->
  <add key="Address2.Line1" value="Griffiths Road, Lostock Gralam," />
  <add key="Address2.Line2" value="Northwich, Cheshire, CW9 7NU" />
  <add key="Address2.Line3" value="Tel: 01606 351 222 - Fax: 01606 351 444" />
  <add key="TradingAs" value="" />
  <add key="RegistrationNumber" value="446417" />
  <add key="VATNo" value="GB 104 6593 79" />

  <!-- Invoice header and footer -->
  <!--<add key="HeaderReportName" value="demoimageheader" />
  <add key="FooterReportName" value="demofooter" />-->
  <add key="ShowInvoiceHeader" value="false" />
  <add key="ShowInvoicePageHeader" value="true" />
  <add key="ShowInvoicePageFooter" value="true" />
  <add key="HeaderReportName" value="firminsimageheader" />
  <add key="FooterReportName" value="firminsfooter" />

  <add key="Orchestrator.WebUI.InterFax.dfs" value="http://ws.interfax.net/dfs.asmx" />
  <add key="Orchestrator.WebUI.net.textanywhere.ws.ta_sms" value="http://ws.textanywhere.net/ta_sms.asmx" />
  <add key="PostCodeAnywhere.lookup" value="http://services.postcodeanywhere.co.uk/uk/lookup.asmx" />
  <add key="CrystalImageCleaner-AutoStart" value="true" />
  <add key="CrystalImageCleaner-Sleep" value="60000" />
  <add key="CrystalImageCleaner-Age" value="120000" />
  <add key="DataDynamicsARLic" value="Orchestrator,Orchestrator,DD-ARN-30-E002413,WOIOFS7HOE7HW4S8U4SJ" />

  <add key="GPS.Active" value="true" />
  <add key="GPS.ArchiveCutOff" value="01-12-2015" />
  <add key="RSS.TrafficNews" value="true" />
  <add key="RSS.TrafficNews.URL" value="http://www.highways.gov.uk/rssfeed/rss.xml" />
  <add key="PostCodeAnywhere.lookup" value="http://services.postcodeanywhere.co.uk/uk/lookup.asmx" />
  <add key="InterFax.dfs" value="http://ws.interfax.net/dfs.asmx" />
  <add key="textanywhere.ws.ta_sms" value="http://ws.textanywhere.net/ta_sms.asmx" />
  <add key="Orchestrator.Mapping.position" value="http://mapping.orchestrator.co.uk/position.asmx" />
  <add key="Orchestrator.Alerts.email" value="http://alerts.orchestrator.co.uk/email.asmx" />
  <add key="RemoveWhiteSpace" value="false" />
  <add key="EnableWebLogStats" value="false" />
  <add key="WebLogStatsApplicationID" value="2" />
  <!-- See tblApplication values in WebLogStats for relevant applicationId -->

  <add key="ExportOrderEnabled" value="true" />

  <!-- This setting determines whether nominal codes can be applied to vehicles -->
  <add key="EnableVehicleNominalCodes" value="true" />

  <!-- This setting determines whether nominal codes can be applied to extra types -->
  <add key="EnableExtraTypeNominalCodes" value="true" />

  <!-- The Custom Module to use for calculating the Invoice NC sub totals-->
  <add key="CalculateNominalCodeSubTotalsModuleId" value="2" />

  <!-- 
      This setting will only check/select the leg that was used to launch the resourceThis page when 
      set to false otherwise all legs will be selected. (Resourcing)
     -->
  <add key="AreResourceThisLegsSelected" value="true" />

  <!-- This is for the white labelling : Replaced with customer specific CSS file, added to tblSetting (SystemFramework.ClientPortalCssFileName) -->
  <!--add key="WhiteLabel.CustomerUser.LeftLogo" value="/images/newmasterpage/firmin-logo.png"/-->
  <!--add key="WhiteLabel.CustomerUser.HeaderBackground" value=""/-->

  <add key="ApiBaseUrl" value="http://localhost:13000" />

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
