<?xml version="1.0" encoding="utf-8"?>
<client>
  <endpoint name="Orchestrator.InvoiceService" address="http://localhost:8080/InvoiceService/" binding="wsHttpBinding" bindingConfiguration="Orchestrator.InvoiceService" contract="IGenerateInvoice" />
  <endpoint name="SageService" address="http://localhost:20006/Service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SageService" contract="SageService.IService" />
  <endpoint name="AccountsService.JR" address="http://localhost:8080/service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_JR_AccountsService" contract="Orchestrator.JR.AccountsService.IService" />
  <endpoint name="AccountsService.Nicholls" address="http://localhost:8027/Service.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Nicholls_AccountsService" contract="Orchestrator.Nicholls.AccountsService.IService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint name="PublishSubscribeService" address="net.tcp://localhost:8002/PublishService/service" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="PublishService.PublishSubscribeService" />
  <endpoint name="OrchToOrch.IntegrationService" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_BigMessages" contract="GenericIntegrationService.IIntegration" />
  <endpoint name="BlueSphere.ProfilesService" address="http://blue.orchestrator.co.uk/Profiles.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Profiles" contract="ProfilesService.Profiles" />
  <!--<endpoint name="BlueSphere.MWFServices" address="http://87.117.243.227:8900/mwfdata.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MWFData" contract="MWFServices.MWFData" />-->
  <endpoint name="BlueSphere.MWFServices" address="http://localhost:3398/mwfdata.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MWFData" contract="MWFServices.MWFData" />
  <endpoint name="Microlise.TMCWebServiceSoap" binding="basicHttpBinding" bindingConfiguration="TMCWebServiceSoap" contract="TMCWebServiceReference.TMCWebServiceSoap" />
</client>
