<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer>
    <handlers>
      <!-- the dotless handler is only required in the development environment since the .less files are referenced directly when compilation/debug="true",
      but does not need to be on the servers since the .less files are converted, bundled and minified there, and served to the client as css files. -->
      <add name="dotless" path="*.less" verb="GET" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </handlers>
  </system.webServer>
</configuration>