/* Default CSS Stylesheet for a new Web Application project */

.highlight
{
	font-weight: bold;
	color: #ff6600;
}
.highlight A
{
	color: #ff6600;
}
.highlight A:Link
{
	color: #ff6600;
}
.highlight A:Visited
{
	color: #ff6600;
}
.highlight A:Hover
{
	color: #ff6600;
	text-decoration: underline;
}
.title
{
	font-size: 12px;
	color: #3399cc;
}
.title A
{
	font-weight: bold;
	font-size: 12px;
	color: #3399cc;
}
.title A:hover
{
	font-weight: bold;
	font-size: 12px;
	color: #3399cc;
	text-decoration: underline;
}
.title A:visited
{
	font-weight: bold;
	font-size: 12px;
	color: #3399cc;
}
.summary
{
	font-size: 11px;
	font-style: italic;
}
.small
{
	font-size: 10px;
	line-height: 14px;
}
.error
{
	font-weight: bold;
	font-size: 10px;
	color: #cc3333;
	line-height: 14px;
}
.index
{
	color: #669933;
}
.index A
{
	color: #669933;
}
.index A:link
{
	color: #669933;
}
.index A:visited
{
	color: #669933;
}
.index A:hover
{
	color: #669933;
	text-decoration: underline;
}

.report_item
{
	BORDER-TOP: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid
}
.report_footer
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: #333366 1px solid;
    FONT-WEIGHT: bolder;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
.report_header
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    BORDER-BOTTOM: #333366 1px solid
}
.report_key
{
    FONT-SIZE: 12px;
    COLOR: #ff6600;
    BORDER-BOTTOM: #333366 1px solid
}
.report_day
{
	COLOR: #3399cc;
    FONT-SIZE: 12px;
    BORDER-BOTTOM: #333366 1px solid
}


.tab
{
	font-size: 11px;
	color: white;
}

.tab_on
{
	font-size: 11px;
	background-color: #cccccc;
}

.tab_off
{
	font-size: 11px;
	background-color: #999999;
}

.main_content
{
	margin: 13px;
}
FORM
{
	padding: 0;
	margin: 0;
}


.Treeview
{
	font-size: 10px;
	color: black;
	font-family: Verdana;
	letter-spacing: -1px;
}
.Treeview A
{
	font-size: 10px;
	color: black;
	font-family: Verdana;
	letter-spacing: -1px;
}
.Treeviewree A:link
{
	font-size: 10px;
	color: black;
	font-family: Verdana;
	letter-spacing: -1px;
}
.Treeview A:visited
{
	font-size: 10px;
	color: black;
	font-family: Verdana;
	letter-spacing: -1px;
}
.Treeview A:hover
{
	font-size: 10px;
	color: black;
	font-family: Verdana;
	letter-spacing: -1px;
	text-decoration: underline;
}


.faq_title
{
	font-weight: bold;
	font-size: 10px;
	color: blue;
	font-family: Verdana;
}
.faq_title A
{
	color: blue;
}
.faq_title A:visited
{
	color: blue;
}
.faq_title A:link
{
	color: blue;
}
.faq_title A:hover
{
	color: blue;
	text-decoration: underline;
}

.faq
{
	font-size: 10px;
	color: black;
	font-family: Verdana;
}


.licence_bullet
{
	font-size: 14px;
	color: #0066ff;
}
.licence_header
{
	font-size: 14px;
	color: #000000;
}
.licence_form
{
	font-size: 12px;
	color: #000000;
}
.tabstrip 
{
	FONT-SIZE: 7pt; 
	COLOR: #000000; 
	FONT-FAMILY: verdana; 
	TEXT-DECORATION: none 
}  
.tabstrip A 
{ 
	FONT-SIZE: 7pt; 
	COLOR: #000000; 
	FONT-FAMILY: verdana; 
	TEXT-DECORATION: none 
}  
.tabstrip A:hover
{ 
	FONT-SIZE: 7pt; 
	COLOR: #000000; 
	FONT-FAMILY: verdana; 
	TEXT-DECORATION: none 
}  
.tabstrip A:visited 
{ 
	FONT-SIZE: 7pt; 
	COLOR: #000000; 
	FONT-FAMILY: verdana; 
	TEXT-DECORATION: none 
}  
.report_header
{
	font-weight: bold;
	border-bottom: 1px solid black
}
.report_footer
{
	font-weight: bold;
	border-bottom: 1px solid black
}
.tbl_heading_top
{
	border-bottom: 1px solid #95BDEE;
	border-top: 1px solid #95BDEE;
	border-right: 1px solid #95BDEE;
	background: #d3e5fa;
	font-weight: bold;
}
.tbl_heading_topleft
{
	border: 1px solid #95BDEE;
	background: #d3e5fa;
	font-weight: bold;
}
.tbl_heading_left
{
	border-bottom: 1px solid #95BDEE;
	border-left: 1px solid #95BDEE;
	border-right: 1px solid #95BDEE;
	background: #d3e5fa;
	font-weight: bold;
}
.tbl_heading_blank
{
	border: 1px solid #95BDEE;
	border: 1px solid #95BDEE;
	border: 1px solid #95BDEE;
	background: #ffffff
}
.tbl_body
{
	border-bottom: 1px solid #95BDEE;
	border-right: 1px solid #95BDEE;
	background: #ece9d8
}
.tbl_body_bottomleft
{
	border-bottom: 1px solid #95BDEE;
	border-right: 1px solid #95BDEE;
	border-left: 1px solid #95BDEE;
	background: #ece9d8
}
.tbl_body_top
{
	border-bottom: 1px solid #95BDEE;
	border-top: 1px solid #95BDEE;
	border-right: 1px solid #95BDEE;
	background: #ece9d8
}
.phone
{
	color:Blue;
	font-size: 20px
}

.form_table
{
	border-right: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
}


.col_head
{
	font-weight: bold;
	font-size: 10px;
	border-bottom: #cccccc 1px double;
}

.col_item
{
	border-bottom: #cccccc 1px dashed;
}


.field_title
{
	font-weight: bold;
	font-size: 10px;
	color: #284a8a;
}
.rr_header {font-family: tahoma; font-size: 8pt;  background-color: #ccccff; font-weight:bold; border-bottom: 1px solid #ccccff; border-right: 1px solid #ccccff}
.rr_header_total {font-family: tahoma; font-size: 8pt;  background-color: #eeeedd; font-weight:bold; border-bottom: 1px solid #ccccff; border-right: 1px solid #ccccff}
.rr_body {font-family: tahoma; font-size: 8pt; border-bottom: 1px solid #ccccff; border-right: 1px solid #ccccff}
.rr_body_selected {font-family: tahoma; font-size: 8pt; border-bottom: 1px solid #ddddff; border-right: 1px solid #ccccff; background-color: #eeeeff}
.rr_body_total {font-family: tahoma; font-size: 8pt; border-bottom: 1px solid #ddddff; border-right: 1px solid #ccccff; background-color: #ffffee; font-weight: bold}
.rr_body_total_selected {font-family: tahoma; font-size: 8pt; border-bottom: 1px solid #ddddff; border-right: 1px solid #ccccff; background-color: #eeeeff; font-weight: bold}


.title1
{
	font-size: 15px;
	color: #808080;
	font-family: tahoma, verdana, arial;
}

.title2
{
	font-size: 11px;
	color: #808080;
	font-family: tahoma, verdana, arial;
}


.greytext
{
	font-size: 11px;
	color: #808080;
	font-family: tahoma, verdana, arial;
}

.greytext a
{
	font-weight: bold;
	color: #ff6600;
}

.greytext a:hover
{
	font-weight: bold;
	color: #ff6600;
}

.greytext a:visited
{
	font-weight: bold;
	color: #ff6600;
}

.greentab
{
	font-size: 11px;
	width: 161px;
	color: white;
	font-family: Tahoma, Arial;
	height: 19px;
}

.bluebox
{
	font-weight: bold;
	font-size: 13px;
	color: #0327b9;
	font-family: tahoma, verdana, arial;
}

.bluebox a
{
	color: #0327b9;
}

.bluebox a:hover
{
	color: #0327b9;
}

.bluebox a:visited
{
	color: #0327b9;
}

.greenbox
{
	font-size: 11px;
	color: #000000;
	height: 20px;
	font-family: tahoma, arial, verdana;
}

.greenbox a
{
	color: #000000;
}

.greenbox a:hover
{
	color: #000000;
}

.greenbox a:visited
{
	color: #000000;
}

.greyfeaturelist
{
	font-size: 11px;
	color: #808080;
	font-family: tahoma, verdana, arial;
	list-style-type:	square ;
	margin-left: 21px;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-left: 0px;
}

.PageTitle {font-family:Verdana; font-size:18px; color:White; font-weight:bold;padding-left:25px;}
.DataGridListHead {background-color:#A1C0F6; font-size:11px; font-family:verdana; color:Black; border-collapse:collapse;}

.wizardbuttonbar {
	padding:4px 0px 4px 20px;
	/* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height:22px; /* 14px + 17px + 2px = 33px */
	border-style:solid;
	border-color:black;
	border-width:1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
	line-height:11px;
	background-image:url('../images/bg_Shadow.gif');
	background-color:white;
	text-align:right;
}

.CategoryHeader
{
	font-size: 14px;
	font-weight: bold;
	border-bottom: thin solid #636363;
	background-color: #99A992;
	color: White;
	text-transform: none;
}
.CategoryFooter
{
	border-top: thin solid #636363;
	font-weight: bold;
	background-color: #DADAC8;
	color: #636363;
	font-size: 10px;
}

.datagridselection
{
	background-color: lightcoral;
}
.NoResults 
{
	font-family:Trebuchet MS;
	font-size:12pt;
	border:solid 1pt black;
	background-color:Silver;
	width:100%;
	padding:5px;
}
div.MessagePanel {
	color: #333333;
	background: #EEEEEE;
	border: 1px dashed #CCCCCC;
	padding: 12px;
	font-weight: bold;
}

.SnapHeader
{
  color: #ffffff;
  background-color: #6699CC;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 12px;
  padding-top: 2px;
  padding-left: 5px;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr= '#003499' , EndColorStr= '#6698CB' );
}

.SnapHeaderClosed
{
  color: #ffffff;
  background-color: #E8E9F1;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 12px;
  padding-top: 2px;
  padding-left: 5px;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr= 'black' , EndColorStr= '#E8E9F1' );
}

.SnapContent
{
  font-family: verdana;
  font-size: 11px;
  padding: 3px;
  border: #4284b5 1px solid;
  background-color: white;
}

.controltitleCanvas
{
	color:White;
}

/* New Heading layouts */
   .greyBorder {
                      border:#D0CBCF 1px solid;
                      padding:1px 1px 1px 1px;
                      border-top:none;
                    }
        .greyText{
                  color:#666666;
                  font-size:12px;
                }

        TABLE.myTrafficDesk
        {
	        background:white;
	        background-image:url('/images/bg_Shadow.gif');
	        border-bottom:2px #85C902 solid;
	        background-repeat:repeat-x;
	        }
        	
        TD.myTitle
        {
	        font-size:130%;
	        letter-spacing:-0.03em;
	        text-indent:2px;
	        }
        	
        TD.myHeading
        {
			background-image:url('/images/bg_Heading.gif');
	    }
	
		.pageHeadingDefault {
		 font-family:Arial;
		 font-size:18px;
		 font-weight:bold;
		 color:#1344A3;
		 padding:0 0 3px 1px;
		 vertical-align:bottom;
		}

		legend
		{
			font-size:12px;
			font-weight:bold;
		}

		label
		{
			color:black;
		}
		.ScrollBar
{
  background-image: url(/images/scroller/scroller_bg.gif); 
}

.ScrollGrip
{
  background-image: url(/images/scroller/scroll_gripBg.gif); 
}

.ScrollPopup
{
  background-color: #FFFFFF; 
  border: 1px solid #666666;
  border-right-width: 2px;
  border-bottom-width: 2px;
  height: 23px;
}

.PurpleBookHeader
{ 
    background-image: url("/images/header_rowBg.gif");
    background-repeat: repeat-x;
    height:24px;
    
}

.PurpleBookHeader1
{ 
    background-image: url("/images/header_rowBg.gif");
    background-repeat: repeat-x;
    height:24px;    
}

.TreeNode 
{ 
  font-size: 11px; 
  font-family:Verdana;
  padding: 3px;
  cursor: pointer;
}

A.TreeNode
{
	padding-left: 0px; 
	font-size: 11px; 
	color: #0000ff;
	text-decoration: none;
}

A:link.TreeNode
{	
	font-size: 11px; 
	text-decoration:	none;
	color:	#0000ff;
}
	
A:visited.TreeNode
{	
	font-size: 11px; 
	text-decoration:	none;
	color:	#0000ff;
}	
		
A:active.TreeNode 
{	
	font-size: 11px; 
	text-decoration:	none;
	color:	#0000ff;
}	
		
A:hover.TreeNode 	
{	
	font-size: 11px; 
	text-decoration:	underline;
	color:	#0000ff;
}


th.A
{
	text-decoration:none;
	color: Black#000000;
}


.webPartGridTitles
{
	border-bottom:solid 1pt gray;
}
/*Resource WebControl*/
.p1-ganttTitleCell{text-align:left;padding-left:7px;width:222px;height:22px;border:solid 1px #d6e8ff;}
.p1-ganttTitleCellText{width:222px;height:22px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:22px;}
.p1-ganttTitleHeaderCell{text-align:left;padding-left:7px;width:222px;border:solid 1px #d6e8ff;}
.p1-ganttInnerTable td,.p1-ganttInnerTable th{font-family:verdana;font-size:.68em;}
.p1-ganttDiv{position:absolute;overflow:auto;height:272px;width:100%;}
.p1-ganttOuterTable{width:100%;height:272px;}
.p1-ganttInnerTable th{color:#4e7cb7; font-weight:normal;}
.p1-ganttMajorTimeUnitHeaderCell{text-align:center;border-left:solid 1px #d6e8ff;border-right:solid 1px #d6e8ff; border-top:solid 1px #d6e8ff; background-color:#f9f9f9;}
.p1-ganttDetailTimeUnitRow td,.p1-ganttDetailTimeUnitRow th{text-align:center;border:solid 1px #d6e8ff;background-color:#f9f9f9;}
.p1-ganttDetailTimeUnitRow abbr{border:none;}
.p1-GWD{}
.p1-GNWD{background:#E3E4E6;}
.p1-GT{background:cornsilk;}
.p1-ganttTransparentImage{position:absolute;width:100%;height:20px;z-index:2;}
.p1-ganttNonTransparentImage{position:relative;z-index:1;}
.p1-dgselected{background:#5980A5;color:#FFFFFF;vertical-align:middle;font-weight:bold;}
.p1-dgselected a{color:#FFFFFF;}
.p1-ganttTitleCellText a{text-decoration:none;}
.p1-ganttTitleCellText a:hover{text-decoration:underline;}

/* Used in addupdateorganisation.aspx for the VAT Number */
.watermarked 
{
	color:gray;
}	
